

  <body>

    <div id="h">
      <div class="logo"><img src="assets/img/Dell EMC bug vertical_web_RGB.svg" width="75px">&nbsp;&nbsp;&nbsp;{code} Community</div>
      <div class="social hidden-xs">
        <a href="http://codedellemc.com"><i class="fa fa-home" aria-hidden="true"></i></a>
        <a href="https://blog.codedellemc.com"><i class="fa fa-wordpress" aria-hidden="true"></i></a>
        <a href="https://github.com/codedellemc"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/codedellemc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="http://slideshare.net/codedellemc"><i class="fa fa-slideshare" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/playlist?list=PLbssOJyyvHuWiBQAg9EFWH570timj2fxt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        <a href="http://codedellemc.com/store"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h1>Join our community of <br/>{{{formatNumber total}}} {code} loving members!</h1>
            <div class="mtb">
              <form id="invite">
                <input name="email" type="email" class="form-input" placeholder="you@youremail.com">
                <input type="hidden" name="channel" value="null">
                <button class='btn btn-conf btn-blue'>Sign up here</button>
              </br><input type=checkbox name=coc value=1> I agree to the <a href={{{coc}}}>{Code} of Conduct</a>
              </form>
            </div><!--/mt-->
            <h4>Right now there are <b>{{{formatNumber active}}}</b> online community members</h4>
            <!-- <iframe src="iframe/dialog"></iframe> -->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->

    <div class="container ptb">
      <div class="row">
        <div class="col-md-6">
          <h2>We are one of the largest Open Source focused Slack teams in the world</h2>
          <p class="mt">With <b>{{formatNumber total}}</b> registered members and growing, we are currently one of the largest Open Source focused communities on Slack. We use Slack as a communication tool for projects, collaboration and general news about the Open Source world.</p>
          <p>We are an inclusive community by nature. If you're interested in anything related to {code} by Dell EMC or the projects we're working on within the community (containers, automation, virtualization, monitoring, logging, infrastructure as code), we’d love to have you join us!</p>
          <!--
          <p class="store">
            <a href="#"><img src="assets/img/app-store.png" height="50" alt=""></a>
            <a href="#"><img src="assets/img/google-play.png" height="50" alt=""></a>
          </p>
        -->
        </div>
        <div class="col-md-6">
          <img src="assets/img/binary_code.jpg" class="img-responsive mt" title="Binary code by Christaan Colen: https://www.flickr.com/photos/132889348@N07/20607150556">
        </div>
      </div><!--/row-->
    </div><!--/container-->

    <div class="container mtb">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/img/Slack_Mark_Web-mini.png" class="img-responsive" title="Slack Logo">
        </div>
        <div class="col-md-6">
          <h2>The {code} Community is open to everyone</h2>
          <p class="mt">Anyone with an interest in coding, hacking or creating new and interesting software is welcome! The community is managed and run by {code}, the Open Source team within Dell EMC.</p>
          <p>The goal of the {code} Community is to create a safe place for communication and collaboration on Open Source projects by Dell EMC and others, such as Docker, Mesos, and Kubernetes.</p>
          <p>Keep in mind that in order to be a member of the {code} Community you must adhere to our <b><a href="{{{coc}}}">{Code} of Conduct</a></b>.</p>

        </div>
      </div><!--/row-->
    </div><!--/container-->

    <div class="container mtb">
      <div class="row centered">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2 class="mb">{code} Community programs</h2>
          <p>As a member of the community you will have the opportunity <br/>to participate in the outreach programs that we run.<br/>
          If you are interested in joining any of the programs outlined below, please <a href="https://forms.zohopublic.com/jonasrosland/form/codeCommunityprogramapplication/formperma/3KJ7feK36B6H0Emd5AC314118">apply here</a>.</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container mtb">
      <div class="row">
        <div class="col-md-6">
          <h2>Community Programs - <b><a href="https://github.com/codedellemc/community/blob/master/docs/code-catalyst.md">{code} Catalyst</a></b></h2>
          <p>The <b><a href="https://blog.codedellemc.com/2016/12/06/codecatalyst/">{code} Catalyst</a></b> program is focused on promoting thought-leading members of the open source community and creating a dialogue between open source advocates, developers and project managers across company boundaries. Our goal is to create an ecosystem of innovative open source advocates who lead and advance emerging technology to support software-based infrastructures.
        </div>
        <div class="col-md-6">
          <img src="assets/img/code-catalyst-members.jpg" class="img-responsive mt" title="{code} Catalyst members">
        </div>
      </div><!--/row-->
    </div><!--/container-->

    <div class="container mtb">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/img/devhigh5.png" class="img-responsive mt" title="DevHigh5 members">
        </div>
        <div class="col-md-6">
          <h2>Community Programs - <b><a href="https://github.com/codedellemc/community/blob/master/docs/devhigh5.md">DevHigh5</a></b></h2>
          <!-- <p class="mt">As a member of the community you will have the opportunity to participate in the outreach programs that we run.</p> -->
          <p><b><a href="https://github.com/codedellemc/community/blob/master/docs/devhigh5.md">DevHigh5</a></b>: If you are a coder or tinkererer looking to promote something you have built around Dell EMC technologies, this is the program for you. You will have the opportunity to create projects that enhance and augment open source solutions at Dell EMC.
        </div>
      </div><!--/row-->
    </div><!--/container-->

<!--
    <div id="sep">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1 id="sep h1">One of the largest Open Source focused Slack teams in the world</h1>
            <h4 id="sep h4">We want you in our community! If you're interested in anything related to EMC {code} or any of the projects we're working on in the community (containers, automation, virtualization, monitoring, logging, infrastructure as code), we’d love to have you be a part of us.</h4>
            <p><button class="btn btn-conf-2 btn-green">Learn More</button></p> -->
<!--          </div>
        </div>
      </div>
    </div
-->
    <div class="container ptb">
      <div class="row centered">
        <h2 class="mb">We Manage<br/>Communities and Training<br/>Online And Offline</h2>
        <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                Online
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>Public Slack Team with {{{formatNumber total}}} Users</li>
                  <li><a href="http://blog.codedellemc.com">{{{formatNumber 90}}}+ Blog Posts</a></li>
                  <li><a href="http://codedellemc.com/newsletter">{{{formatNumber 70}}}+ Newsletters Published</a></li>
                  <li>Slack integrations for Dell EMC projects</li>
                </ul>
                <!--
                <div class="price">
                  <span class="sub">$</span>
                  <span class="detail">0</span>
                  <span class="sub">/mo.</span>
                </div>
                -->
                <!-- <button class="btn btn-conf-2 btn-green" >Join Us!</button> -->
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->

         <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                Training
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>Open Source Focused</li>
                  <li><a href="https://github.com/emccode/training">All material published publicly</a></li>
                  <li>Tens of Thousands already trained</li>
                  <li><a href="https://github.com/emccode/training/tree/master/accreditation">Instructional videos</a></li>
                </ul>
                <!--
                <div class="price">
                  <span class="sub">$</span>
                  <span class="detail">0</span>
                  <span class="sub">/mo.</span>
                </div>
                -->
                <!-- <button class="btn btn-conf-2 btn-green">Subscribe Now</button> -->
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->

         <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                Offline
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>Meetups and Conferences</li>
                  <li>Engaging the broader user base</li>
                  <li>Tens of Thousands of interactions</li>
                  <li>Promoting the {code} Community projects</li>
                </ul>
                <!--
                <div class="price">
                  <span class="sub">$</span>
                  <span class="detail">0</span>
                  <span class="sub">/mo.</span>
                </div>
                -->
                <!-- <button class="btn btn-conf-2 btn-green">Subscribe Now</button> -->
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->
      </div><!--/row-->
    </div><!--/container-->

    <div id="g">
      <div class="container">
        <div class="row sponsor centered aligncenter">
          <h2>Featured {code} Projects</h2></br></br>
          <div class="col-md-2 col-md-offset-1">
            <ul>
              <a href="https://github.com/emccode/libstorage">
                <li><img src="http://codedellemc.com/images/items/libstorage.png" alt="libStorage"></li>
                <li><p>libStorage</p></li>
              </a>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <a href="https://github.com/RackHD">
                <li><img src="http://codedellemc.com/images/items/rackhd.png" alt="RackHD"></li>
                <li><p>RackHD</p></li>
              </a>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <a href="https://github.com/emccode/rexray">
                <li><img src="http://codedellemc.com/images/items/rexray.png" alt="REX-Ray"></li>
                <li><p>REX-Ray</p></li>
              </a>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <a href="https://github.com/emccode/polly">
                <li><img src="http://codedellemc.com/images/items/polly.jpg" alt="Polly"></li>
                <li><p>Polly</p></li>
              </a>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <a href="https://github.com/emccode/mesos-module-dvdi">
                <li><img src="http://codedellemc.com/images/items/mesos-module-dvdi.png" alt="mesos-module-dvdi"></li>
                <li><p>mesos-module-dvdi</p></li>
              </a>
            </ul>
          </div>
        </div><!--/row-->
      </div>
    </div><!--/g-->

    <div id="blue">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 centered">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <h3>I highly recommend anyone to get their geek on and get involved in the community. It's a thoroughly rewarding experience.</h3>
                  <h5><tgr>DAVID LLOYD</tgr></h5>
                </div>
                <div class="item">
                  <h3>Being a part of an online community is super rewarding, both personally and professionally.</h3>
                  <h5><tgr>JONAS ROSLAND</tgr></h5>
                </div>
                <div class="item">
                  <h3>I love that I can contribute to open source in a lot of ways! Sometimes even with glitter.</h3>
                  <h5><tgr>STEPHANIE CARLSON</tgr></h5>
                </div>
              </div>
            </div><!--/Carousel-->

          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/green-->

    <div id="f">
      <div class="container">
        <div class="row centered">
          <!-- <h2>Got feedback?</h2>
          <h4><a href=mailto:emccode@emc.com>emccode@emc.com</a></h4>
-->
          <p class="mt">
            <a href="http://codedellemc.com"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="https://blog.codedellemc.com"><i class="fa fa-wordpress" aria-hidden="true"></i></a>
            <a href="https://github.com/codedellemc"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://twitter.com/codedellemc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="http://slideshare.net/codedellemc"><i class="fa fa-slideshare" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/playlist?list=PLbssOJyyvHuWiBQAg9EFWH570timj2fxt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="http://codedellemc.com/store"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </p>
          <h6 class="mt">Using the <a href="http://landingsumo.com">Landing Sumo</a> theme</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      data = {};
      path = '/';
      data.path = path;
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
    <script src="http://cdn.socket.io/socket.io-1.3.2.js"></script>
    <script src="assets/superagent.js"></script>
    <script src="assets/client.js"></script>
  </body>
